#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' '
  |  |&nbsp;
  a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn/')  晋ICP备15004021号