#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' '
  |  |&nbsp;
  a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn/')  晋ICP备15004021号
  br
  a(rel='nofollow',target='_blank', href='https://coding.net/pages'): img(class='nofancybox' align='middle' height='100' width='100' src='/img/coding.png' alt='coding')