#footer= 'Copyright © 2016-' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' '
  |  |&nbsp;
  a(rel='nofollow', target='_blank', href='http://www.beian.gov.cn/portal/recordQuery')  晋ICP备15004021号-1